
<%= simple_form_for(@cracker_binary) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :version %>
    <%= f.input :active %>
    <%= f.association :cracker %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
