<div id="<%= dom_id rule_list %>">
  <p>
    <strong>Name:</strong>
    <%= rule_list.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rule_list.description %>
  </p>

  <p>
    <strong>File:</strong>
    <%= link_to rule_list.file.filename, rule_list.file if rule_list.file.attached? %>
  </p>

  <p>
    <strong>Line count:</strong>
    <%= rule_list.line_count %>
  </p>

  <p>
    <strong>Sensitive:</strong>
    <%= rule_list.sensitive %>
  </p>

</div>
