<%# locals: @hash_list, @projects %>
<%= simple_form_for(@hash_list) do |f| %>
  <% if @hash_list.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(@hash_list.errors.count, "error") %> prevent this from saving.</h4>
      <ul>
        <% @hash_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :file,
                input_html: { direct_upload: true } %>
    <%= f.input :sensitive %>
    <%= f.association :project, collection: @projects, include_blank: false %>
    <%= f.association :hash_type,
        label_method: :to_s,
        include_blank: false,
        input_html: { data: { controller: "select" } } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-primary" %>
    <%= link_to "Cancel", hash_lists_path, class: "btn btn-danger" %>
  </div>
<% end %>
