<%= render Railsboot::HeaderComponent.new do |header| %>
  <% header.with_heading do %>
    <%= title "Hash lists" %>
  <% end %>
  <%= header.with_actions do %>
    <% if can? :create, HashList %>
      <%= render Railsboot::ButtonComponent.new(tag: "a", href: new_hash_list_path, size: "sm") do %>
        <%= icon("plus-circle-fill") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<table class="table">
  <thead>
  <tr>
    <th> Name</th>
    <th> Description</th>
    <th> Hash Type</th>
    <th> Project</th>
    <th> Completion</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "hash_list", collection: @hash_lists, cache: true %>
  </tbody>
</table>
