<div class="btn-group-sm">
  <%= link_to hash_lists_path, class: "btn btn-secondary btn-sm" do %>
    <%= icon("arrow-left") %>
  <% end %>
  <% if can? :update, @hash_list %>
    <%= link_to edit_hash_list_path(@hash_list), class: "btn btn-warning btn-sm" do %>
      <%= icon("pencil") %>
    <% end %>
  <% end %>
</div>
<%= show_for @hash_list do |s| %>
  <%= s.attribute :name %>
  <%= s.attribute :description %>
  <%= s.association :hash_type %>
  <%= s.attribute :sensitive %>
  <%= s.association :project %>
  <%= s.attribute :cracked_list do |list| %>
    <div class="pre-scrollable" style="max-height: 50vh; overflow-y: scroll">
      <pre><%= list %></pre>
    </div>
  <% end %>
<% end %>
