<%= render Railsboot::HeaderComponent.new do |header| %>
  <% header.with_heading do %>
    <%= title @hash_list.name %>
  <% end %>
  <% header.with_breadcrumb.with_items([
       { text: "Dashboard", href: root_path },
       { text: "Hash Lists", href: hash_lists_path },
       { text: @hash_list.name, href: @hash_list, active: true }
                                       ]) %>
  <%= header.with_actions do %>
    <% if can? :edit, @hash_list %>
      <%= render Railsboot::Button::LinkComponent.new(href: url_for([:edit, @hash_list]), variant: "warning", size: "sm") do %>
        <%= icon("pencil") %>
      <% end %>
      <%= render Railsboot::Button::LinkComponent.new(href: @hash_list, variant: "danger", size: "sm", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) do %>
        <%= icon("trash") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= show_for @hash_list do |s| %>
  <%= s.attribute :name %>
  <%= s.attribute :description %>
  <%= s.association :hash_type %>
  <%= s.attribute :sensitive %>
  <%= s.association :project %>
  <%= s.attribute :cracked_list do |list| %>
    <div class="pre-scrollable" style="max-height: 50vh; overflow-y: scroll">
      <pre><%= list %></pre>
    </div>
  <% end %>
<% end %>

