<div data-controller="tabs" data-tabs-active-value="0">
  <nav class="nav nav-tabs" role="tablist">
    <a href="#<%= panel_id('overview') %>"
       class="nav-link active"
       id="<%= tab_id('overview') %>"
       aria-controls="<%= panel_id('overview') %>"
       aria-current="page"
       data-tabs-target="tab"
       data-action="click->tabs#switch">Overview</a>
    <a href="#<%= panel_id('errors') %>"
       class="nav-link"
       id="<%= tab_id('errors') %>"
       aria-controls="<%= panel_id('errors') %>"
       data-tabs-target="tab"
       data-action="click->tabs#switch">Errors</a>
    <a href="#<%= panel_id('configuration') %>"
       class="nav-link"
       id="<%= tab_id('configuration') %>"
       aria-controls="<%= panel_id('configuration') %>"
       data-tabs-target="tab"
       data-action="click->tabs#switch">Configuration</a>
    <a href="#<%= panel_id('capabilities') %>"
       class="nav-link"
       id="<%= tab_id('capabilities') %>"
       aria-controls="<%= panel_id('capabilities') %>"
       data-tabs-target="tab"
       data-action="click->tabs#switch">Capabilities</a>
  </nav>

  <div class="tab-content mt-3">
    <div id="<%= panel_id("overview") %>"
         class="tab-pane active"
         role="tabpanel"
         data-tabs-target="panel"
         aria-labelledby="<%= tab_id("overview") %>">
      <%= overview_tab %>
    </div>

    <div id="<%= panel_id("errors") %>"
         class="tab-pane d-none"
         role="tabpanel"
         data-tabs-target="panel"
         aria-labelledby="<%= tab_id("errors") %>">
      <%= errors_tab %>
    </div>

    <div id="<%= panel_id("configuration") %>"
         class="tab-pane d-none"
         role="tabpanel"
         data-tabs-target="panel"
         aria-labelledby="<%= tab_id("configuration") %>">
      <%= configuration_tab %>
    </div>

    <div id="<%= panel_id("capabilities") %>"
         class="tab-pane d-none"
         role="tabpanel"
         data-tabs-target="panel"
         aria-labelledby="<%= tab_id("capabilities") %>">
      <%= capabilities_tab %>
    </div>
  </div>
</div>
