<%= show_for @cracker do |s| %>
  <%= s.attribute :name %>
  <%= s.association :cracker_binaries %>
<% end %>

<div class="btn-group btn-group-sm">
  <%= link_to "Edit", edit_cracker_path(@cracker), class: "btn btn-primary" if can? :edit, @cracker %>
  <%= link_to "Back", crackers_path, class: "btn btn-secondary" if can? :read, Cracker %>
</div>
