<tr id="<%= dom_id(project) %>">
  <%= turbo_stream_from project %>
  <td><%= project.id %></td>
  <td><%= project.name %></td>
  <td><%= truncate(project.users.map(&:name).to_sentence) %></td>
  <td><%= time_ago_in_words project.updated_at %></td>
  <td>
    <div class="btn-group btn-group-sm">
      <%= link_to icon("eye"), project, class: "btn btn-primary btn-sm" if can? :read, project %>
      <%= link_to icon("pencil"), edit_project_path(project),
                  class: "btn btn-warning btn-sm" if can? :update, project %>
      <%= button_to icon("trash"), project, method: :delete, data: { confirm: "Are you sure?" },
                                            class: "btn btn-danger btn-sm" if can? :destroy, project %>
    </div>
  </td>
</tr>
