<%= simple_form_for @user, url: create_user_path(@user),
                           wrapper: :horizontal_form,
                           wrapper_mappings: {
                            boolean: :horizontal_boolean,
                            check_boxes: :horizontal_collection,
                            date: :horizontal_multi_select,
                            datetime: :horizontal_multi_select,
                            file: :horizontal_file,
                            radio_buttons: :horizontal_collection,
                            range: :horizontal_range,
                            time: :horizontal_multi_select,
                            select: :horizontal_select
                          } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>
