<div id="<%= dom_id word_list %>">
  <p>
    <strong>Name:</strong>
    <%= word_list.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= word_list.description %>
  </p>

  <p>
    <strong>File:</strong>
    <%= link_to word_list.file.filename, word_list.file if word_list.file.attached? %>
  </p>

  <p>
    <strong>Line count:</strong>
    <%= word_list.line_count %>
  </p>

  <p>
    <strong>Sensitive:</strong>
    <%= word_list.sensitive %>
  </p>

</div>
