<%= turbo_stream_from attack %>
<tr class="<%= "table-secondary" if attack.running? %>">
  <td>
    <% if attack.running? %>
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">running...</span>
      </div>
    <% else %>
      <%= render(StatusPillComponent.new(status: attack.state)) %>
    <% end %>
  </td>
  <td>
    <%= icon("activity") %>
    <%= link_to attack.to_label, campaign_attack_path(attack.campaign, attack) %>
  </td>
  <td>
    <% unless attack.estimated_finish_time.nil? %>
      <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
            title="<%= attack.estimated_finish_time.to_fs(:short) %>">
        <%= icon("clock") %>
        <%= time_ago_in_words attack.estimated_finish_time %>
        </span>
    <% end %>
  </td>
  <td>
    <% if attack.state == :running %>
      <%= number_to_percentage(attack.percentage_complete, precision: 2) unless attack.percentage_complete.nil? %>
    <% end %>
  </td>
  <td>
    <!-- TODO: Actions -->
    <% if attack.state == "completed" %>
      <% unless attack.run_time.nil? %>
        Runtime: <%= time_ago_in_words attack.run_time %>
      <% end %>
    <% else %>
      <%= icon("server") if attack.executing_agents.present? %>
      <%= attack.executing_agents.to_sentence %>
    <% end %>
  </td>
</tr>
<% unless attack.percentage_complete.zero? %>
  <tr>
    <td></td>
    <td colspan="3">
      <%= render ProgressBarComponent.new(percentage: attack.percentage_complete, label: "Attack completion progress") %>
    </td>
  </tr>
<% end %>
