<%= simple_form_for @attack do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :attack_mode, collection: Attack.attack_modes.keys, as: :radio_buttons,
                            wrapper: :horizontal_collection_inline, label_method: ->(k) { k.humanize },
                            input_html: { data: { action: "input->attack#attack_mode".html_safe } },
                            wrapper_html: { data: { controller: "attack" } } %>

  <%= f.association :campaign, include_blank: false, collection: @campaigns %>
  <%= field_set_tag "Dictionary & Rules", id: "dictionary_attack_set", hidden: true do %>
    <%= f.association :word_lists, as: :check_boxes, include_blank: false, collection: @word_lists %>
    <%= f.association :rule_lists, as: :check_boxes, collection: @rule_lists %>
  <% end %>
  <%= field_set_tag "Combination", id: "combination_attack_set", hidden: true do %>
    <%= f.input :left_rule %>
    <%= f.input :right_rule %>
  <% end %>
  <%= field_set_tag "Mask Attack", id: "mask_attack_set", hidden: true do %>
    <%= f.input :mask %>
  <% end %>
  <%= field_set_tag "Incremental Mode", id: "incremental_attack_set", hidden: true do %>
    <%= f.input :increment_mode %>
    <%= f.input :increment_minimum %>
    <%= f.input :increment_maximum %>
  <% end %>
  <%= field_set_tag "Character Sets", id: "character_sets_attack_set", hidden: true do %>
    <%= f.input :custom_charset_1 %>
    <%= f.input :custom_charset_2 %>
    <%= f.input :custom_charset_3 %>
    <%= f.input :custom_charset_4 %>
  <% end %>
  <%= field_set_tag "Markov", id: "markov_attack_set", hidden: true do %>
    <%= f.input :classic_markov %>
    <%= f.input :disable_markov %>
    <%= f.input :markov_threshold %>
  <% end %>
  <%= field_set_tag "Optimization", id: "optimization_attack_set" do %>
    <%= f.input :optimized %>
    <%= f.input :slow_candidate_generators %>
    <%= f.input :workload_profile, collection: 1..4, as: :range, input_html: {
      min: 1,
      max: 4,
      step: 1
    } %>
  <% end %>
  <div class="row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: "btn-primary" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-danger" %>
    </div>
  </div>
<% end %>
