<%= simple_form_for @attack do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :attack_mode, collection: Attack.attack_modes.keys, as: :radio_buttons,
                            wrapper: :horizontal_collection_inline %>
  <%= f.association :campaign %>
  <%= field_set_tag "Dictionary & Rules", id: dom_id(@attack, :dictionary) do %>
    <%= f.association :word_lists, as: :check_boxes %>
    <%= f.association :rule_lists, as: :check_boxes %>
  <% end %>
  <%= field_set_tag "Combination", id: dom_id(@attack, :combination), disabled: !@attack.combinator? do %>
    <%= f.input :left_rule %>
    <%= f.input :right_rule %>
  <% end %>
  <%= field_set_tag "Mask Attack", id: dom_id(@attack, :mask) do %>
    <%= f.input :mask %>
  <% end %>
  <%= field_set_tag "Incremental Mode", id: dom_id(@attack, :incremental) do %>
    <%= f.input :increment_mode %>
    <%= f.input :increment_minimum %>
    <%= f.input :increment_maximum %>
  <% end %>
  <%= field_set_tag "Character Sets", id: dom_id(@attack, :character_sets) do %>
    <%= f.input :custom_charset_1 %>
    <%= f.input :custom_charset_2 %>
    <%= f.input :custom_charset_3 %>
    <%= f.input :custom_charset_4 %>
  <% end %>
  <%= field_set_tag "Markov", id: dom_id(@attack, :markov) do %>
    <%= f.input :classic_markov %>
    <%= f.input :disable_markov %>
    <%= f.input :markov_threshold %>
  <% end %>
  <%= field_set_tag "Optimization", id: dom_id(@attack, :optimization) do %>
    <%= f.input :optimized %>
    <%= f.input :slow_candidate_generators %>
    <%= f.input :workload_profile, collection: 1..4, as: :range, input_html: {
                                     min: 1,
                                     max: 4,
                                     step: 1
                                   } %>
  <% end %>
  <div class="row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: "btn-primary" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-danger" %>
    </div>
  </div>
<% end %>
