<%# locals: (resource:,projects:) -%>
<div class="card">
  <div class="card-body">
    <nav aria-label="breadcrumb" class="mt-0 mb-1 fw-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
        <li class="breadcrumb-item"><%= link_to resource.class.model_name.human.pluralize, url_for(controller: controller_name) %></li>
        <li class="breadcrumb-item"><%= link_to resource.name, resource %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><%= title resource.name %></h2>
      <div></div>
    </div>
  </div>
</div>
<%= render "shared/attack_resource/form", resource: resource, projects: projects %>
