<%# locals: (resource:,projects:) -%>
<%= simple_form_for(resource) do |f| %>
  <% if resource.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(resource.errors.count, "error") %> prevent this from saving.</h4>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :file,
                input_html: { direct_upload: true } %>
    <%= f.association :projects, as: :check_boxes, include_blank: false,
                                 collection: projects,
                                 hint: "Select the project(s) to associate this list with. If none are selected, the list will be available to all projects." %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Cancel", url_for(controller: controller_name), class: "btn btn-secondary" %>
  </div>
<% end %>
