<%# locals: (resource_list:) -%>

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><%= title resource_list.klass.model_name.human.pluralize %></h2>
      <div>
        <% if can? :create, resource_list.klass %>
          <%= link_to url_for(controller: controller_name, action: :new), class: "btn btn-primary btn-sm" do %>
            <%= icon("plus-circle-fill") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Lines</th>
      <th>Estimated Complexity</th>
      <th>Sensitive</th>
      <th>Projects</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% resource_list.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= truncate item.description %></td>
        <td><%= item.processed ? number_to_human(item.line_count) : "pending" %></td>
        <td><%= item.complexity_string %></td>
        <td><%= boolean_icon item.sensitive %></td>
        <td><%= truncate(item.projects.map(&:name).to_sentence) %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="<%= item.name %> actions">
            <% if can? :read, item %>
              <%= link_to url_for(item), class: "btn btn-primary btn-sm" do %>
                <%= icon("eye") %>
              <% end %>
            <% end %>
            <% if can? :edit, item %>
              <%= link_to url_for([:edit, item]), class: "btn btn-warning btn-sm" do %>
                <%= icon("pencil") %>
              <% end %>
            <% end %>
            <% if can? :destroy, item %>
              <%= link_to item, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do %>
                <%= icon("trash") %>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
