<nav id="navbar" class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <%= inline_svg_tag "logo.svg",
                       size: "30px",
                       preserve_aspect_ratio: true,
                       title: "CipherSwarm Logo",
                       aria_hidden: true %>
    <%= link_to current_site, root_path, title: current_site, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <%= link_to "Admin", admin_root_path, class: "nav-link" if can? :read, :admin_dashboard %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= button_to "Log out", destroy_user_session_path, class: "nav-link",
                        method: :delete, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
