<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
  <div class="container">
    <%= link_to root_path, title: current_site, class: "navbar-brand" do %>
      <%= inline_svg_tag "logo.svg",
                         size: "30px",
                         preserve_aspect_ratio: true,
                         title: "CipherSwarm Logo",
                         aria_hidden: true %>
      <%= current_site %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="navbarContent">
      <% if user_signed_in? %>
        <%= render NavbarDropdownComponent.new title: "Tools", extra_classes: "me-auto", icon: "gear-wide-connected" do %>
          <li>
            <%= link_to "Admin Dashboards", admin_root_path, class: "dropdown-item" if can? :read, :admin_dashboard %>
          </li>
          <li>
            <%= link_to "Dictionaries", word_lists_path, class: "dropdown-item" if can? :read, WordList %>
          </li>
          <li>
            <%= link_to "Mask Lists", mask_lists_path, class: "dropdown-item" if can? :read, MaskList %>
          </li>
          <li>
            <%= link_to "Rule Lists", rule_lists_path, class: "dropdown-item" if can? :read, RuleList %>
          </li>
        <% end %>

        <%= render NavbarDropdownComponent.new title: current_user.name,
                                               extra_classes: %w[justify-content-lg-end me-3],
                                               icon: "person-circle" do %>
          <%= link_to "Change password", edit_user_registration_path, class: "nav-link" %>
          <%= button_to "Log out", destroy_user_session_path, class: "nav-link",
                                                              method: :delete, data: { turbo_method: :delete } %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
