<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
  <div class="container">
    <%= link_to root_path, title: current_site, class: "navbar-brand" do %>
      <%= inline_svg_tag "logo.svg",
                         size: "30px",
                         preserve_aspect_ratio: true,
                         title: "CipherSwarm Logo",
                         aria_hidden: true %>
      <%= current_site %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <%= link_to "Admin", admin_root_path, class: "nav-link" if can? :read, :admin_dashboard %>
      </ul>

      <%= render NavbarDropdownComponent.new title: current_user.name do %>
        <%= link_to "Change password", edit_user_registration_path, class: "nav-link" %>
        <%= button_to "Log out", destroy_user_session_path, class: "nav-link",
                                                            method: :delete, data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </div>
</nav>
