<div class="d-flex flex-column flex-shrink-0 p-3">
  <div class="position-sticky pt-3">
    <ul class="nav nav-pills flex-column mb-auto">
      <%= sidebar_link("Dashboard", root_path, "house") %>
      <%= sidebar_link("Activity", campaigns_path, "activity") %>
      <%= sidebar_link("Admin", admin_index_path, "passport") if can? :read, :admin_dashboard %>
      <%= sidebar_link("Agents", agents_path, "server") %>
      <%= sidebar_link("Hash Lists", hash_lists_path, "journal-text") if can? :read, HashList %>
    </ul>
  </div>
</div>
