<div id="<%= dom_id agent %>">
  <p>
    <strong>Client signature:</strong>
    <%= agent.client_signature %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= agent.active %>
  </p>

  <p>
    <strong>Last ipaddress:</strong>
    <%= agent.last_ipaddress %>
  </p>

  <p>
    <strong>Last seen at:</strong>
    <%= agent.last_seen_at %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= agent.name %>
  </p>

  <p>
    <strong>Operating system:</strong>
    <%= agent.operating_system %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= agent.token %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= agent.user %>
  </p>

</div>
