<%= turbo_frame_tag dom_id(agent, :errors) do %>
<% if errors&.any? %>
    <div class="mb-3">
      <%== pagy.info_tag %>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Severity</th>
            <th scope="col">Message</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "agents/error", collection: errors, cached: true %>
        </tbody>
      </table>
    </div>

    <% if pagy.pages > 1 %>
      <%== pagy.series_nav(:bootstrap) %>
      <noscript><%== pagy.series_nav %></noscript>
    <% end %>
  <% else %>
    <div class="text-center">
      <div><span class="empty-state-icon"><%= icon("check-circle") %></span></div>
      <h3>No errors recorded</h3>
      <p class="small text-secondary mt-3">This agent has not reported any errors yet.</p>
    </div>
<% end %>
<% end %>
