<%= render Railsboot::HeaderComponent.new do |header| %>
  <% header.with_heading do %>
    <%= title "Agents" %>
  <% end %>
  <%= header.with_actions do %>
    <% if can? :create, Agent %>
      <%= render Railsboot::ButtonComponent.new(tag: "a", href: new_agent_path, size: "sm", title: "New Agent") do %>
        <%= icon("plus-circle-fill") %>
      <% end %>
    <% end %>
  <% end %>

  <% header.with_breadcrumb.with_items([
       { text: "Dashboard", href: root_path },
       { text: "Agents", href: agents_path, active: true }
     ]) %>
<% end %>

<% if @agents.empty? %>
  <%= render Railsboot::BlankSlateComponent.new do |blank_slate| %>
    <% blank_slate.with_icon do %>
      <%= icon("robot") %>
    <% end %>

    <% blank_slate.with_heading do %>
      No Agents Found
    <% end %>

    <% blank_slate.with_description do %>
      Create your first agent to start cracking hashes
    <% end %>

    <% if can? :create, Agent %>
      <% blank_slate.with_primary_action do %>
        <%= link_to "New Agent", new_agent_path, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="row g-4">
    <% @agents.each do |agent| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <%= render AgentStatusCardComponent.new(agent: agent), cache: true %>
      </div>
    <% end %>
  </div>
<% end %>
