<%= render Railsboot::HeaderComponent.new do |header| %>
  <% header.with_heading do %>
    <%= title "Agents" %>
  <% end %>
  <%= header.with_actions do %>
    <% if can? :create, Agent %>
      <%= render Railsboot::ButtonComponent.new(tag: "a", href: new_agent_path, size: "sm", title: "New Agent") do %>
        <%= icon("plus-circle-fill") %>
      <% end %>
    <% end %>
  <% end %>

  <% header.with_breadcrumb.with_items([
       { text: "Dashboard", href: root_path },
       { text: "Agents", href: agents_path, active: true }
     ]) %>
<% end %>

<%= turbo_frame_tag "agents-cards", src: cards_agents_path, loading: (Rails.env.test? ? :eager : :lazy) do %>
  <div class="row g-4">
    <% 4.times do %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <%= render AgentStatusCardSkeletonComponent.new %>
      </div>
    <% end %>
  </div>
<% end %>

