<%= render Railsboot::HeaderComponent.new do |header| %>
  <% header.with_heading do %>
    <%= title @agent.name %>
  <% end %>
  <% header.with_breadcrumb.with_items([
       { text: "Dashboard", href: root_path },
       { text: "Agents", href: agents_path },
       { text: @agent.name, href: @agent, active: true }
     ]) %>
<% end %>

<div id="<%= dom_id @agent %>">
  <%= turbo_stream_from @agent, :overview %>
  <%= turbo_stream_from @agent, :errors %>
  <%= turbo_stream_from @agent, :configuration %>
  <%= turbo_stream_from @agent, :capabilities %>

  <%= render AgentDetailTabsComponent.new(agent: @agent, errors: @errors, pagy: @pagy) do |tabs| %>
    <% tabs.with_overview_tab do %>
      <%= render "overview_tab", agent: @agent %>
    <% end %>

    <% tabs.with_errors_tab do %>
      <%= render "errors_tab", agent: @agent, errors: @errors, pagy: @pagy %>
    <% end %>

    <% tabs.with_configuration_tab do %>
      <%= render "configuration_tab", agent: @agent %>
    <% end %>

    <% tabs.with_capabilities_tab do %>
      <%= render "capabilities_tab", agent: @agent %>
    <% end %>
  <% end %>
</div>

<div class="btn-group">
  <%= link_to "Edit", edit_agent_path(@agent), class: "btn btn-outline-primary" if can? :update, @agent %>
  <%= link_to "Back", agents_path, class: "btn btn-outline-secondary" %>
</div>
