<div class="card">
  <div class="card-body">
    <nav aria-label="breadcrumb" class="mt-0 mb-1 fw-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Admin", admin_index_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><%= title @project.name %></h2>
      <div>
        <% if can? :edit, Attack %>
          <%= link_to edit_project_path(@project), class: "btn btn-primary btn-sm" do %>
            <%= icon("pencil") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= show_for @project do |s| %>
  <%= s.attribute :description %>
  <%= s.association :users %>
  <%= s.association :agents %>
  <%= s.association :campaigns %>
  <%= s.association :hash_lists %>
<% end %>

<div class="btn-group" role="group">
  <%= link_to "Edit", edit_project_path(@project), class: "btn btn-warning" if can? :update, @project %>
  <%= link_to "Back", admin_index_path, class: "btn btn-outline-secondary" if can? :view, :admin_dashboard %>
</div>
