<%= show_for @project do |s| %>
  <%= s.attribute :name %>
  <%= s.attribute :description %>
  <%= s.association :users %>
<% end %>

<div class="btn-group" role="group">
  <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-outline-primary" %>
  <%= link_to 'Back', admin_index_path, class: "btn btn-outline-secondary" %>
</div>
