<%= turbo_stream_from campaign %>
<tr id="
      <% dom_id campaign %>">
  <td><%= campaign.name %></td>
  <td><%= campaign.project.name %></td>
  <td><%= campaign.hash_list.name %></td>
  <td>
    <%= number_to_human campaign.uncracked_count %> of <%= number_to_human campaign.hash_item_count %>
  </td>
  <td>
    <% if campaign.completed? %>
      <span class="badge text-bg-success">Completed</span>
    <% else %>
      <span class="badge text-bg-primary">
      <%= campaign.attacks.incomplete.count %> / <%= campaign.attacks.count %>
        </span>
    <% end %>
  </td>
  <td>
    <%= link_to "Show", campaign %>
    <%= link_to "Edit", edit_campaign_path(campaign) %>
    <%= link_to "Delete", campaign, method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>
<table class="table">
  <% unless campaign.completed? %>
    <% campaign.attacks.each do |attack| %>
      <%= render attack %>
    <% end %>
  <% end %>
</table>
