<%= turbo_stream_from campaign %>
<tr id="
      <% dom_id campaign %>">
  <td><%= campaign.name %></td>
  <td><%= campaign.project.name %></td>
  <td><%= campaign.hash_list.name %></td>
  <td>
    <%= number_to_human campaign.uncracked_count %> of <%= number_to_human campaign.hash_item_count %>
  </td>
  <td>
    <%= campaign.attacks.incomplete.count %> / <%= campaign.attacks.count %>
  </td>
  <td>
    <%= link_to "Show", campaign %>
    <%= link_to "Edit", edit_campaign_path(campaign) %>
    <%= link_to "Delete", campaign, method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>
<table class="table">
  <% campaign.attacks.order(created_at: :asc).each do |attack| %>
    <%= render attack %>
  <% end %>
</table>
