<%= simple_form_for @campaign do |f| %>
  <%= render Railsboot::ErrorsComponent.new(@campaign) %>
  <%= f.input :name, hint: "Enter a unique name for this campaign" %>
  <%= f.association :hash_list, collection: @hash_lists, include_blank: false,
                                hint: "Select a hash list to associate with this campaign" %>
  <%= f.input :priority, as: :select, collection: available_priorities_for(@campaign, current_user),
              prompt: "Select a priority for this campaign",
              hint: "High priority is restricted to project admins and owners" %>
  <div class="row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, "Submit", class: "btn-success" %>
      <%= render Railsboot::ButtonComponent.new(tag: "a", href: campaigns_path, variant: "danger", text: "Cancel") %>
    </div>
  </div>
<% end %>
