<%= simple_form_for @campaign do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.association :hash_list, collection: HashList.accessible_by(current_ability), include_blank: false %>
  <%= f.association :project, as: :radio_buttons, collection: Project.accessible_by(current_ability), include_blank: false %>
  <div class="row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: "btn-success" %>
      <%= link_to "Cancel", _back_url, class: "btn btn-outline-danger" %>
    </div>
  </div>
<% end %>
