<div class="card">
  <div class="card-body">
    <nav aria-label="breadcrumb" class="mt-0 mb-1 fw-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Activity", campaigns_path %></li>
        <li class="breadcrumb-item active" aria-current="page">New Campaign</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><%= title "New Campaign" %></h2>
      <div></div>
    </div>
  </div>
</div>

<% if @hash_lists.empty? %>

  <div class="text-center">
    <div class="mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-sticky" viewBox="0 0 16 16">
        <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293z"/>
      </svg>
    </div>
    <h3>You do not have any hash lists yet.</h3>
    <p class="text-sm text-secondary mt-3">Add a hash list before creating a campaign.</p>
    <div class="mt-4">
      <%= link_to "Add Hash List", new_hash_list_path, class: "btn btn-primary" %>
    </div>
  </div>

<% else %>
  <%= render "form", campaign: @campaign, hash_lists: @hash_lists %>
<% end %>
