<%= render Railsboot::HeaderComponent.new do |header| %>
  <% header.with_heading do %>
    <%= title @campaign.name %>
  <% end %>
  <%= header.with_actions do %>
    <% if can? :create, Attack %>
      <%= render Railsboot::Button::LinkComponent.new(href: new_campaign_attack_path(@campaign, attack_mode: :dictionary), size: "sm", title: "Add Dictionary Attack") do %>
        <%= inline_svg_tag "dictionary_attack_icon.svg",
                           size: "20px",
                           preserve_aspect_ratio: true,
                           title: "Add Dictionary Attack" %>
      <% end %>
      <%= render Railsboot::Button::LinkComponent.new(href: new_campaign_attack_path(@campaign, attack_mode: :mask), size: "sm", title: "Add Mask Attack") do %>
        <%= inline_svg_tag "mask_attack_icon.svg",
                           size: "20px",
                           preserve_aspect_ratio: true,
                           title: "Add Mask Attack" %>
      <% end %>
      <%= render Railsboot::Button::LinkComponent.new(href: new_campaign_attack_path(@campaign, attack_mode: :hybrid_dictionary), size: "sm", title: "Add Hybrid Attack") do %>
        <%= inline_svg_tag "hybrid_attack_icon.svg",
                           size: "20px",
                           preserve_aspect_ratio: true,
                           title: "Add Hybrid Dictionary Attack" %>
      <% end %>
      <%= render Railsboot::Button::LinkComponent.new(href: new_campaign_attack_path(@campaign, attack_mode: :hybrid_mask), size: "sm", title: "Add Hybrid Attack") do %>
        <%= inline_svg_tag "hybrid_attack_icon.svg",
                           size: "20px",
                           preserve_aspect_ratio: true,
                           title: "Add Hybrid Mask Attack" %>
      <% end %>
      <% if can? :edit, @campaign %>
        <%= render Railsboot::Button::LinkComponent.new(variant: "warning", href: edit_campaign_path(@campaign), size: "sm", title: "Edit") do %>
          <%= icon("pencil") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% header.with_breadcrumb.with_items([
       { text: "Dashboard", href: root_path },
       { text: "Activity", href: campaigns_path },
       { text: @campaign.name, href: @campaign, active: true }
                                       ]) %>
<% end %>

<p><%= @campaign.description %></p>
<small class="text-muted">Created <%= time_ago_in_words(@campaign.created_at) %> ago</small>
<%= render Railsboot::StepperComponent.new do |stepper| %>
  <% @campaign.attacks.each do |attack| %>
    <%= turbo_stream_from attack %>
    <% stepper.with_item(active: attack.completed?) do %>
      <span>
        <%= render StatusPillComponent.new(status: attack.state) %>
        &nbsp;
        <%= attack.to_label %>
        &nbsp;
        <%= render Railsboot::ButtonGroupComponent.new(aria_label: "Attack Actions for #{attack.name}", size: "sm") do %>
        <%= render Railsboot::Button::LinkComponent.new(href: campaign_attack_path(@campaign, attack)) do %>
        <%= icon("eye") %>
          <% end %>
          <%= render Railsboot::Button::LinkComponent.new(href: edit_campaign_attack_path(@campaign, attack), variant: "warning") do %>
        <%= icon("pencil") %>
    <% end %>
          <%= render Railsboot::Button::LinkComponent.new(href: [@campaign, attack], variant: "danger", method: :delete,
                                                          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) do %>
        <%= icon("trash-fill") %>
    <% end %>
          <% end %>
    </span>
    <% end %>
  <% end %>
<% end %>

