<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <%= display_meta_tags site: "CipherSwarm" %>
  <%= javascript_include_tag "turbo", type: "module" %>
  <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class(params) %>">
<nav class="d-block">
  <%= render "partials/navbar" %>
</nav>
<div class="row">
  <% if user_signed_in? %>
    <aside class="col-sm-3 col-md-2 sidebar">
      <%= render "partials/sidebar" %>
    </aside>
  <% end %>
  <main role="main" class="main col-md-9">
    <%= render Railsboot::ContainerComponent.new(fluid: true) do %>
      <%= render Railsboot::FlashComponent.new(flash: flash) %>
      <%= yield %>
    <% end %>
  </main>
</div>
<div id="toast_container" class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1080;"></div>
</body>
</html>
