<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "partials/metatags" %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  <%= content_for :head %>
    <%= javascript_importmap_tags %>
</head>
<body class="<%= body_class(params) %>">
<nav class="d-block">
  <%= render "partials/navbar" %>
</nav>
<div class="row">
  <% if user_signed_in? %>
    <aside class="col-sm-4 col-md-3 sidebar">
      <%= render "partials/sidebar" %>
    </aside>
  <% end %>
  <main role="main" class="main col-md-9">
    <div class="container-fluid">
      <%= render "partials/messages" %>
      <%= yield %>
    </div>
  </main>
</div>
</body>
</html>
