<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <%= display_meta_tags site: "CipherSwarm" %>
  <%= content_for :head %>
  <%= javascript_include_tag "turbo", type: "module" %>
  <%= turbo_refresh_method_tag :morph %>
  <%= turbo_refresh_scroll_tag :preserve %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class(params) %>">
<nav class="d-block">
  <%= render "partials/navbar" %>
</nav>
<div class="row">
  <% if user_signed_in? %>
    <aside class="col-sm-3 col-md-2 sidebar">
      <%= render "partials/sidebar" %>
    </aside>
  <% end %>
  <main role="main" class="main col-md-9">
    <div class="container-fluid">
      <%= render "partials/messages" %>
      <%= yield %>
    </div>
  </main>
</div>
</body>
</html>
